.skeleton-row {
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    background-size: 200% 100%;
    animation: shine 1.5s infinite linear;
    height: var(--skeleton-height);
    width: var(--skeleton-width);
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}
