@page "/Test"

<div class="scroll-container">
    <div class="scroll-content">
        <!-- Add your content here -->
        <p>Content goes here...</p>
        <p>More content...</p>
        <p>Even more content...</p><p>Content goes here...</p>
        <p>More content...</p>
        <p>Even more content...</p><p>Content goes here...</p>
        <p>More content...</p>
        <p>Even more content...</p><p>Content goes here...</p>
        <p>More content...</p>
        <p>Even more content...</p><p>Content goes here...</p>
        <p>More content...</p>
        <p>Even more content...</p><p>Content goes here...</p>
        <p>More content...</p>
        <p>Even more content...</p><p>Content goes here...</p>
        <p>More content...</p>
        <p>Even more content...</p><p>Content goes here...</p>
        <p>More content...</p>
        <p>Even more content...</p><p>Content goes here...</p>
        <p>More content...</p>
        <p>Even more content...</p><p>Content goes here...</p>
        <p>More content...</p>
        <p>Even more content...</p><p>Content goes here...</p>
        <p>More content...</p>
        <p>Even more content...</p><p>Content goes here...</p>
        <p>More content...</p>
        <p>Even more content...</p><p>Content goes here...</p>
        <p>More content...</p>
        <p>Even more content...</p><p>Content goes here...</p>
        <p>More content...</p>
        <p>Even more content...</p><p>Content goes here...</p>
        <p>More content...</p>
        <p>Even more content...</p><p>Content goes here...</p>
        <p>More content...</p>
        <p>Even more content...</p><p>Content goes here...</p>
        <p>More content...</p>
        <p>Even more content...</p><p>Content goes here...</p>
        <p>More content...</p>
        <p>Even more content...</p><p>Content goes here...</p>
        <p>More content...</p>
        <p>Even more content...</p><p>Content goes here...</p>
        <p>More content...</p>
        <p>Even more content...</p><p>Content goes here...</p>
        <p>More content...</p>
        <p>Even more content...</p>
        <!-- Repeat as needed for scrollable content -->
    </div>
    <div class="custom-scrollbar">
        <div class="scroll-thumb"></div>
    </div>
</div>

@code {

}
